<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BROKER_IP" value="127.0.0.1"/>
    <add key="BROKER_PORT" value="1883"/>
    <add key="PLATFORMS_AMOUNT" value="1000"/>
    <add key="SECONDS_BETWEEN_UPDATES" value="0.3"/>
  </appSettings>
</configuration>